   @font-face {
    font-family: digital; /* Имя шрифта */
    src: url(fonts/digital.ttf); /* Путь к файлу со шрифтом */
   }

.calc-container {
   display: flex;
    /* flex-direction: column;
    flex-wrap: nowrap;  */
}

.calc-container__frame {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    border-radius: 8px;
    width: 264px; 
    background-color: #ddd;
}

.calc-container__display {
    background-color: #ccc;
    color: rgb(82, 83, 82);
    font-size: 47px;
    max-width: 262px;
    text-align: right;
    padding: 0 9px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'digital',serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.calc-container__buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.row {
    display: flex;
}

div [class^= 'calc-container__buttons__'] {
 background-color: aquamarine;
 width: 50px;
height:50px;
 margin: 8px 8px;
 font-size: 26px;
 text-align: center;
 line-height: 50px;
 border-radius: 8px;
 cursor: poiner;
}